<title>Generate it randomly!</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Generate Recipe</h1>
  <meta charset=utf-8> 
  </br>
  <h2>Your Recipe for today:</h2>
  </br>
  </br>
  <div class="flashes">
    {% for message in get_flashed_messages() %}
      {{ message|safe }}
    {% endfor %}
  </div>
  </br>
  <h2> Looking for something else? generate again! </h2>
  <a href="/" class="LinkedButton">Click me to generate</a>
</div>
</html>
